.conteudo {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 
  }
  
  .card {
    margin: 1rem;
    min-width: 300px;
    max-width: 400px;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    margin: 0;
    padding: 1rem;
  }
  
  .card figure {
    margin: 0;
    padding: 1rem;
  }
  
  .conteudo img {
    max-width: 100%;
    height: 25%;
    width: 25%;
    display: inline-block;
  }
  
  .card figcaption {
    text-align: center;
  }