body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos do cabeçalho */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  header img {
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li:not(:last-child) {
    margin-right: 1rem;
  }
  
  nav a {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  nav a:hover {
    background-color: #e9ecef;
  }
  
  /* Estilos do conteúdo */
  
  section {
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  article {
    margin: 1rem;
    min-width: 300px;
    max-width: 400px;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  article h2 {
    margin: 0;
    padding: 1rem;
  }
  
  article figure {
    margin: 0;
    padding: 1rem;
  }
  
  article img {
    max-width: 100%;
    height: auto;
  }
  
  article figcaption {
    text-align: center;
  }
  
  /* Estilos do rodapé */
  
  .roda_pe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  .roda_pe h2 {
    margin: 0;
  }
  
  .roda_pe nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .roda_pe nav a {
    display: flex;
    align-items: center;
    margin-right: 0,5rem;
  }
  
  .roda_pe nav img {
    height: 30px;

  }
  
  
  /* Estilos responsivos */
  
  @media (max-width: 768px) { 
    }header img {
      height: 40px;
    }
  
    nav li {
      margin: 0;
      text-align: center;
    }
  
    nav a {
      display: inline-block;
      width: 100%;
      padding: 0.5rem 0;
    }
  
     nav a:hover {
      background-color: transparent;
    }
    
  